<mat-card color="primary">
  <mat-card-header>
    <mat-card-title>Sample Header</mat-card-title>
  </mat-card-header>
  <mat-card-content
    >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem molestiae
    aperiam ipsa quod quaerat animi, excepturi facilis consequuntur repellendus
    reiciendis, rerum ipsam laboriosam aspernatur sed temporibus! Mollitia
    accusantium laborum recusandae!
    <br />
    Voluptatibus a eum placeat. Ducimus at voluptas nulla quibusdam neque,
    recusandae, suscipit deserunt minima fugit placeat quia porro iure velit
    dignissimos aspernatur aliquid delectus non, magni corrupti rerum similique
    nesciunt!
    <br />
    Commodi aut culpa perspiciatis provident debitis, eligendi nesciunt impedit
    in ducimus! A quidem facere iste. Tenetur labore aspernatur quasi harum
    corrupti exercitationem accusamus neque atque iste! Dignissimos illum
    aliquid quis. Assumenda quisquam dicta eaque nihil quam nobis labore
    voluptates repudiandae eos, reiciendis natus accusamus odio nulla
    dignissimos, doloribus eum maxime aliquid quo minus necessitatibus at,
    ratione reprehenderit saepe dolore? Iusto!
  </mat-card-content>
</mat-card>
