<mat-card>
  <mat-card-header>
    <mat-card-title>Sample Text</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed laborum iste
    itaque beatae accusamus facilis quae molestias fugiat alias repudiandae!
    Placeat nam cumque incidunt ut neque corporis deserunt eius delectus! Lorem
    ipsum dolor sit, amet consectetur adipisicing elit. Adipisci esse quam
    accusantium. Consectetur, earum, ipsa corrupti unde, veritatis sint ipsum
    deleniti nihil quos fuga dicta tempore officia aliquam at nobis? Id ipsam
    voluptas obcaecati, unde amet veniam quis veritatis, tempora perspiciatis
    illo ex quasi dignissimos nostrum consequatur mollitia quidem excepturi
    officiis ea debitis, quaerat libero non laborum necessitatibus similique!
    Quidem. Repellendus incidunt reiciendis harum odit dolore. Qui nihil aliquam
    dolorem iusto, fugiat ut quod minima dolore, ratione ipsam quam, explicabo
    commodi earum quibusdam nemo eum odit nam omnis. Dicta, aspernatur.
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button>
      Open Popup
    </button>
    <button mat-button>
      Open Popup
    </button>
  </mat-card-actions>
</mat-card>
